@import url('https://fonts.googleapis.com/css?family=Roboto|Lato');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, Turquoise, LightPink 60%);
}
.pricing-grid {
    padding-bottom: 2em;
}
.plan {
    background: rgba(255,255,255, 0.4);
    max-width: 400px;
    padding: 1em;
    margin: 2em auto;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}
.plan > * {
    /* border: 1px solid black; */
}
.plan .details {
    max-width: 150px;
}
.plan ul {
    list-style: none;
    padding: 0;
}
.plan ul li {
    padding-bottom: 0.5em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.plan ul li:last-child {
    border-bottom: none;
}
.plan .price {
    font-size: 3rem;
}
.plan .cta {
    background: yellow;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px black;
    border: 1px solid transparent;
}
.plan .cta:hover {
    border: 1px solid rgb(97, 97, 97);
}
.plan3 {
    margin-bottom: 0;
}
/*  Mobile Layout Complete until now*/

/* Media Query for 3 column layout for bigger screens*/
@media (min-width: 700px) {
    .pricing-grid {
        display: flex;
        align-items: center; 
        max-width: 900px;
        margin: 0 auto;
    }
    .plan {
        flex-basis: 25%;
    }
    .plan3 {
        margin-bottom: 32px;
    }
    /* to shift all the buttons to the bottom of the flex item
        remove "align-items: center;" from .pricing-grid 
        and add a "margin-top: auto" to .cta
    */
    .cta {
        /* margin-top: auto; */
    }

}

/*  ANOTHER APPROACH
.pricing-grid {
  display: flex;
  align-items: center;
}
.plan {
  flex: 1; /* making all equally wide insted for flex using flex basis here
  display: flex;
  flex-wrap: wrap; /*using flex-wrap instead of changing the flex-direction to column 
  justify-content: center;
}
.plan > * {
  flex-basis: 100%;
}
.plan > *:last-child {
  flex-basis: 40%;
}
.cta {
  align-self: flex-end;
}
*/